@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fs-s: 15px;
    --xs: 20px;
    --s: 30px;
    --m: 50px;
    --l: 80px;
    --black: #222;
}
a {
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    color: inherit;
    cursor: pointer;
    /*padding: .1em 0 .03em 0;*/
    /*margin-top: 1em;*/
    /*border-bottom: 1px solid var(--black);*/
}
.text {
    font-size: var(--fs-s);
    font-weight: 300;
    padding: var(--s) 0 var(--l) 0;
    margin: 0 auto;
    max-width: 580px;
}
.active-link {
    border-bottom: 0;
}

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: var(--fs-s);
    line-height: 1.4;
}
button {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}
.ps {
    padding: 0 20px;
}
.wallpaper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    position: relative;
}
.logo {
    max-width: 580px;
    margin: var(--l) auto;
    display: flex;
    align-items: center;
}
.logo > img {
    width: 31px;
}
.logo > strong {
    font-size: 18px;
    margin-left: 13px;
    letter-spacing: -0.02em;
    font-weight: 700;
}
.collection {
    max-width: 580px;
    display: grid;
    grid-auto-rows: min-content auto;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-column-gap: var(--s);
    grid-row-gap: var(--s);
    margin: var(--s) auto;
}
.collection > img {
    width: 40px;
    height: 40px;
    outline: 1px solid var(--black);
    cursor: pointer;
}




.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.main > img {
    max-width: 260px;
}


.active {
    background-color: var(--black);
}
nav {
    display: flex;
    justify-content: center;
    gap: var(--s);
    padding: var(--l) 0 ;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    padding: var(--s);
    display: none;
}
.topBar {
    display: flex;
}
.close {
    margin-left: auto;
    padding: var(--xs);
    margin-right: var(--xs);
    box-sizing: border-box;
    cursor: pointer;
}
.close > img {
    width: 16px;
}
.picture {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 180px;
}
.popup__show {
    display: block;
}